@using SalesDataViewModels
@{
    ViewBag.Title = "Sales Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sales Summary</h2>


@(Html.Kendo().Grid<SaleDataRowModel>
        ()
    .Name("SalesGrid")
    .Columns(columns =>
    {
        columns.Bound("Segment");
        columns.Bound("Country");
        columns.Bound("Product");
        columns.Bound("DiscountBand");
        columns.Bound("UnitsSold");
        columns.Bound("ManufacturingPrice");
        columns.Bound("SalePrice");
        columns.Bound("Date").Format("{0:dd/MM/yyyy}");
    })
    .Pageable()
    .Sortable()
    .Filterable()
    .Scrollable()
    .HtmlAttributes(new { style = "height: 600px;" })
    .DataSource(dataSource => dataSource.Ajax().Read(read => read.Url("http://localhost:55729/api/sales"))
    ))